/.copilot
/.vscode
/.vscode-shared
/ansel
/AppData
/aula_comentarios.py
/Contacts
/Desktop
/Dicionario com pessoas.py
/Documents
/Downloads
/Favorites
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{d892baea-b988-11f1-b9e0-c1520b72d637}.TM.blf
/NTUSER.DAT{d892baea-b988-11f1-b9e0-c1520b72d637}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{d892baea-b988-11f1-b9e0-c1520b72d637}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/Saved Games
/Searches
/Videos
/OneDrive
/Ambiente de Impressão
/Ambiente de Rede
/Configurações Locais
/Cookies
/Dados de Aplicativos
/Meus Documentos
/Menu Iniciar
/Modelos
/Recent
/SendTo